


<div class="content">
  <h2>Dialog</h2>
  <!-- <button mat-> -->
  <h2>Table</h2>
  <mvb-list (onRowSelect)="click_test($event)" [total]="20" [columnHeaders]="displayedColumns" [dataSource]="dataSource" class="w-100" (onLazyLoad)="changeAPI($event)">
    <ng-template mvbCol let-input cell="1" styleClass="a-col">
     <div style="color:wheat;width:50% ;">{{input}}</div>
     
   </ng-template>
   <ng-template mvbCol let-input cell="2">
      <button> <fa-icon icon="edit"></fa-icon>{{input}}</button>
       
     </ng-template> 
     <ng-template mvbCol let-input cell="4" >
         <div style="color:aqua ;width:50% ;">{{input|date: 'yyyy-MM-dd HH:mm:ss'}}</div>
         
       </ng-template>
 </mvb-list>
</div>

<router-outlet></router-outlet>
